<table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Klient</th>
            <th>Kola</th>
            <th>Slujitel</th>
            <th>DataZaemane</th>
            <th>DataVrushtane</th>
            <th>broidni</th>
            <th colSpan=2>Operations</th>
          </tr>
        </thead>
        <tbody>
          @for (rent of rents(); track rent){
           <tr>
            <td>{{rent.zaem_id}}</td>
            <td>{{rent.klient}}</td>
            <td>{{rent.marka_name + " " + rent.kolamodel + " " + rent.godina}}</td>
            <td>{{rent.slujitel}}</td>
            <td>{{rent.datazaemane | date:"longDate"}}</td>
            <td>{{rent.datavrushtane | date:"longDate"}}</td>
            <td>{{rent.broidni}}</td>
            <td>Edit</td>
            <td><button type="button" (click)="onDelete(rent.zaem_id)">Delete</button></td>
            </tr>}
          
        </tbody>
      </table>